# Core
python-dotenv==1.0.1
pandas==2.2.1
sqlalchemy==2.0.29
psycopg2-binary==2.9.9   # PostgreSQL connector

# LLM + Embeddings
openai==1.16.1
tiktoken==0.6.0
llama-index==0.10.26
llama-index-embeddings-openai==0.1.7
llama-index-vector-stores-pinecone==0.1.4
llama-index-vector-stores-weaviate==0.1.4

# Vector DB Clients
pinecone-client==3.2.2
weaviate-client==3.26.2

# App (UI)
streamlit==1.33.0

# Utils
python-dateutil==2.9.0.post0
requests==2.31.0
